#firstimage {
    float: center;
    height: 200px;
    width: 200px;
}

#vizimage {
    height: 150px;
    width: 150px;



}
#lat_title {
color:white;
font-weight:bold ;
background:teal;


}

#compimage {
    height: 300px;
    width: 300px;



}
h3 {

color: teal;

}

h1 {

color:teal

}

